.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-rows: 60px 1fr; /*две строки*/
  grid-template-columns: 2fr 10fr;/*две колонки*/
  /*grid-gap: 10px;расстояние между элементами*/
  grid-template-areas: /*в обертке показывает как все гриды будут отображены на странице*/
  "h h" /*в первой строке h займет две колонки*/
  "n c "; /*во второй строке nav займет первую колонку, а content вторую*/
}

.app-wrapper-content {
  grid-area: c;
  background-color: indigo;
}



